<!DOCTYPE html>
<html >
<head>
    <title>Home</title>
</head>
<body>
<h1 align="center">Welcome to MYAPP</h1>  
<hr/>
<center>
    <a href="{% url 'beranda' %}"">Home</a>"
    <a href="{% url 'aboutus' %}">About Us</a>"
    <a href="{% url 'gallery' %}">Gallery</a>"
</center>
<hr/>
<p>
    Serving the higher education needs of Indonesian, the university committed to  being a comfortable home for the students and staff to grow to their fullest potential through learning, research, innovation, and community service. 
    Today, we are home for rigorous research and innovation aimed at improving the human and environment condition, especially the one in our home region. 
    This is home for students from 13 study programs in the area of STEM, Humanity and Art, and Economics. Given the high concentration of development in Java and Bali Island, this university is a catalyst in widening quality education in the country. We believe that creating a comfortable environment at our university will make staff and students feel at home and eventually grow to their fullest potential.
</p>
<p>
    Located at the foot of the Olat Maras hill which means Hill of Happiness in the local Sumbawa language, this young university accommodates hundreds of faculty members and researchers as well as thousands of students from all over Indonesia and various countries. They are young eagles who are equipped with the sharpness of skills and knowledge to be ready to fly to reach their dreams. This blend creates a multi-cultural interaction in this small, peaceful village outside the city of Sumbawa Besar. Given the high concentration of development in Java and Bali, this university is a catalyst in expanding the quality of education in this country.  
</p>
</body>
</html>