{% extends 'index.html' %}
{% block content %}
{% load static %}
<h3>Daftar Buku</h3>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">No</th>
        <th scope="col">Judul Buku</th>
        <th scope="col">Pengarang</th>
        <th scope="col">Jenis Buku</th>
        <th scope="col">Penerbit</th>
      </tr>
    </thead>
    <tbody>

        {% for data in Buku_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.judul_buku }}</td>
            <td>{{ data.pengarang }}</td>
            <td>{{ data.jenis_buku }}</td>
            <td>{{ data.penerbit }}</td>

        </tr>
        {% endfor %}
     
    </tbody>
  </table>
{% endblock %}